/**
colors {
  --primary-color: #3f51b5;
  --secondary-color: #f50057;
}
**/


.App {
  text-align: center;
}

.App-header {
  background-color:#3f51b5;
  height: 50px;
  padding: 20px;
  color: white;
  clear:both;
  width:100%;
}

.App-title {
  font-size: 2em;
  float:left;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  margin: .25em;
  letter-spacing: 0.3em;
}

.App-body {
  padding-top: 2em;
  width:100%;
  text-align:center;
}

.Game-Container{
  display: inline-block;
}

.App-intro {
  font-size: large;
}
